html {
	background: url(/assets/images/homepage.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.content.container{
	display: hidden;
	width:0px;
	height: 0px;
}

.sidebar{
	color: rgba(255, 255, 255, 1);
}

.sidebar a {
	color: rgba(255, 255, 255, 0.8);
}
