/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../projects/scigaczewska/hyde/_sass/print.scss */
.pic-title {
  color: white;
}

/* line 9, ../../../../../../projects/scigaczewska/hyde/_sass/print.scss */
.pic-description {
  color: white;
}

/* line 13, ../../../../../../projects/scigaczewska/hyde/_sass/print.scss */
.project-details {
  font-weight: bold;
}

/* line 17, ../../../../../../projects/scigaczewska/hyde/_sass/print.scss */
.project-description {
  text-align: justify;
}

/* line 21, ../../../../../../projects/scigaczewska/hyde/_sass/print.scss */
.footer {
  position: relative;
  height: 1em;
  display: none;
}

/* line 27, ../../../../../../projects/scigaczewska/hyde/_sass/print.scss */
.legal {
  position: absolute;
  bottom: 2em;
  right: 2em;
  color: #a1a1a1;
  font-size: 80%;
}

/* line 35, ../../../../../../projects/scigaczewska/hyde/_sass/print.scss */
html, body {
  height: 100%;
  padding-bottom: 1em;
}

/* line 40, ../../../../../../projects/scigaczewska/hyde/_sass/print.scss */
.container {
  min-height: 100%;
}

/* line 44, ../../../../../../projects/scigaczewska/hyde/_sass/print.scss */
.header {
  position: relative;
  background-color: transparent;
  display: none;
}

/* line 50, ../../../../../../projects/scigaczewska/hyde/_sass/print.scss */
.language-nav {
  position: absolute;
  right: 2em;
  top: 1em;
  color: #a1a1a1;
  font-size: 80%;
}

/* line 58, ../../../../../../projects/scigaczewska/hyde/_sass/print.scss */
.legal-terms {
  font-size: 75%;
}

/* line 62, ../../../../../../projects/scigaczewska/hyde/_sass/print.scss */
.legal-terms h1, h2, h3, h4, h5, h6 {
  font-size: 95%;
}

/* line 66, ../../../../../../projects/scigaczewska/hyde/_sass/print.scss */
.pagination-item {
  display: none;
}

/* line 70, ../../../../../../projects/scigaczewska/hyde/_sass/print.scss */
a[href^="#"]:after {
  display: none;
}

/* line 74, ../../../../../../projects/scigaczewska/hyde/_sass/print.scss */
a[href^="http://"]:after, a[href^="https://"]:after {
  content: " (" attr(href) ")";
  font-size: 90%;
  word-wrap: break-word;
  color: #000;
}
