/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 6, ../../../../../../projects/scigaczewska/hyde/_sass/screen.scss */
.pic-title {
  color: white;
}

/* line 10, ../../../../../../projects/scigaczewska/hyde/_sass/screen.scss */
.pic-description {
  color: white;
}

/* line 14, ../../../../../../projects/scigaczewska/hyde/_sass/screen.scss */
.project-details {
  font-weight: bold;
}

/* line 18, ../../../../../../projects/scigaczewska/hyde/_sass/screen.scss */
.project-description {
  text-align: justify;
}

/* line 22, ../../../../../../projects/scigaczewska/hyde/_sass/screen.scss */
.footer {
  position: relative;
  height: 1em;
}

/* line 27, ../../../../../../projects/scigaczewska/hyde/_sass/screen.scss */
.legal {
  position: absolute;
  bottom: 2em;
  right: 2em;
  color: #a1a1a1;
  font-size: 80%;
}

/* line 35, ../../../../../../projects/scigaczewska/hyde/_sass/screen.scss */
html, body {
  height: 100%;
  padding-bottom: 1em;
}

/* line 40, ../../../../../../projects/scigaczewska/hyde/_sass/screen.scss */
.container {
  min-height: 100%;
}

/* line 44, ../../../../../../projects/scigaczewska/hyde/_sass/screen.scss */
.header {
  position: relative;
  background-color: transparent;
}

/* line 49, ../../../../../../projects/scigaczewska/hyde/_sass/screen.scss */
.language-nav {
  position: absolute;
  right: 2em;
  top: 1em;
  color: #a1a1a1;
  font-size: 80%;
}

/* line 57, ../../../../../../projects/scigaczewska/hyde/_sass/screen.scss */
.legal-terms {
  font-size: 75%;
}

/* line 7, ../../../../../../projects/scigaczewska/hyde/_sass/print.scss */
.footer {
  display: none;
}

/* line 11, ../../../../../../projects/scigaczewska/hyde/_sass/print.scss */
.header {
  display: none;
}

/* line 15, ../../../../../../projects/scigaczewska/hyde/_sass/print.scss */
.pagination-item {
  display: none;
}

/* line 19, ../../../../../../projects/scigaczewska/hyde/_sass/print.scss */
a[href^="#"]:after {
  display: none;
}

/* line 23, ../../../../../../projects/scigaczewska/hyde/_sass/print.scss */
a[href^="http://"]:after, a[href^="https://"]:after {
  content: " (" attr(href) ")";
  font-size: 90%;
  word-wrap: break-word;
  color: #000;
}
